.step-title {
    color: #900303;
    padding: 10px;
    font-size: 18px;
}
.toy-step-item{
    padding: 0px;
    list-style: none;
}
.toy-steps{
	font-size: 12px;
	padding: 0px;
	padding-left: 15px;
}