.toy{
	padding: 10px;
	display: flex;
	flex-flow: row wrap;
}
.toy-title {
	width: 100%;
}
.toy-author {
    /*color: #e1f5ff;*/
    font-size: 11px;
}
.toy img {
    max-width: 200px;
    max-height: 200px;
    padding: 5px;
    flex: 1 1;
}

.toy-build-shema {
    display: block;
    color: black;
    background-color: white;
    padding: 10px 5px;
}